@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument";
  src: url("./../public/MonumentExtended-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Monument";
  src: url("./../public/MonumentExtended-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Monument";
  src: url("./../public/MonumentExtended-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Sligoil";
  src: url("./../public/Sligoil-Micro.woff2");
}